@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* margin: 0 ;  */
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

/* Add this CSS to your stylesheet */
.react-tabs__tab:focus {
  outline: none !important;
}

.answerContainer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 300ms ease-in-out;
  border-radius: 8px;
  width: 100%;
}

.animate {
  max-height: 20rem;
}


.tablist {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.tablist::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}



/* CSS FOR MOUSE ANIMATE  */

.animated-mouse {
  animation-name: bounce;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-100px);
  }
  40% {
    transform: translateY(-150px);
  }
  50% {
    transform: translateY(-200px);
  }

  60% {
    transform: translateY(-360px);
  }
}
